<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>List Name</th>
                <th>Options</th>

            </tr>
        </thead>
        {{#each favourites}}
        <tr id="{{id_path}}">
            <td>
                <b>
                    <a href="/favourites/{{id_path}}/page/1">
                        <b id="{{id_path}}-name">{{name}}<b>
                    </a>
                </b>
            </td>
            <td>
                <b>
                    <button class="btn btn-outline-error my-2 my-sm-0" onclick="removeList(&quot;{{id_path}}&quot;)">Remove</button>
                </b>

                <button class="btn btn-outline-error my-2 my-sm-0" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Rename List</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>New Name:</p>


                                <input type="text" id="newName" name="name" placeholder="">
                                <button type="submit" name="login" class="btn btn-default" value="Change Name" onclick="changeName(&quot;{{id_path}}&quot;)"  data-dismiss="modal">
                                    Rename
                                </button>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>